// variables
:root {
  --color-black: #1F1F1F;
  --color-white: #F1F1F1;
  --color-gray: #515151;
  --color-rose: #D7C0B4;
  --color-kor: #452D2D;
  --index: calc(1vw + 1vh);
}

//--------------------------------------------------------------------------\\

// Для разработки подсветка
// * {
//   outline: 4px solid green !important;
// }

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

body {
  background-color: var(--color-rose);
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1320px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

svg *[fill] {
  fill: currentColor
}

svg *[stroke] {
  stroke: currentColor
}